html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-size: 62.5%;
}

footer span {
  color: #fff;
}

pre {
  font-size: 1.5rem;
}


// progress bar
.progress{
  margin: 2rem 0;
}